* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: rgb(255, 219, 185);
    font-family: 'Roboto', sans-serif;
}

/* body{
    display: flex;
}

.article section img {
    display: flex;
    height: 300px;
    width: auto;
    border: 2px solid black;
    border-radius: 50%;
}

.article section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

#mapa_google{
    width: 35vh;
    height: 40vh;
    border: 0;
}

.header nav {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0);
}

.header nav a {
    border: 1px solid black;
    border-radius: 10%;
    display: flex;
    margin: 10px;
    height: 50px;
    width: 50px;
    transition: .3s;
    background-color: rgba(255, 255, 255, 0);
}

.header nav a img{
    width: 90%;
    height: 90%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.header nav a:hover {
    height: 60px;
    width: 60px;
}

article section h1{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    font-size: 3rem;
    font-family: 'Satisfy', cursive;
}

article section p{
    font-size: 1.5rem;
}

article{
    margin-right: 6vh;
    text-align: center;
} */

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    background-color: rgba(231, 191, 105, 0.507);
    border-radius: 10px;
    left: 20%;
    right: 20%;

}
nav a{
    margin: auto;
    height: 6vh;
    width: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(240, 248, 255, 0);
}
nav a img{
    height: 80%;
    width: 80%;
    background-color: rgba(240, 248, 255, 0);
}
article{
    display: flex;
    /* margin-top: 10vh; */
    flex-wrap: wrap;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 10vh;
    font-size: 1.5rem;
    text-align: center;
}
#mapa_google{
    max-height: 80vh;
    max-width: 80vh;
    border: 1px solid grey;
}
section h1{
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    padding-left: 2rem;
    padding-right: 2rem;
}
section p{
    padding-left: 2rem;
    padding-right: 2rem;
}
#frase{
    font-family: 'Passions Conflict', cursive;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 2.5rem;
    text-align: justify;
    line-height: 2rem;
}
#inicio{
    align-items: center;
}
section a{
    padding-left: 2rem;
    padding-right: 2rem;
}